@import "tailwindcss";
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-surface: #fcfcfd;
  --bg-card: #ffffff;
  --bg-secondary: #f3f4f6;
  --text-primary: #0b0b0b;
  --text-secondary: #6b6b6b;
  --border-default: #e6e6e6;
}

.dark {
  --bg-surface: #0b0b0b;
  --bg-card: #070707;
  --bg-secondary: #111111;
  --text-primary: #f8f8f8;
  --text-secondary: #9ca3a3;
  --border-default: #1f1f1f;
}

@layer components {
  .bg-surface,
  .bg-card,
  .bg-secondary,
  .text-primary,
  .text-secondary,
  .border-default {
    transition: background-color 280ms ease, color 280ms ease, border-color 280ms ease;
  }

  .bg-surface {
    background-color: var(--bg-surface) !important;
  }

  .bg-opp {
    background-color: var(--bg-card) !important;
  }

  .bg-secondary {
    background-color: var(--bg-secondary) !important;
  }

  .bg-card {
    background-color: var(--bg-card) !important;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  }

  .text-primary {
    color: var(--text-primary) !important;
  }

  .text-secondary {
    color: var(--text-secondary) !important;
  }

  .border-default {
    border-color: var(--border-default) !important;
  }
}

html, body {
  transition: background-color 280ms ease, color 280ms ease;
}

.fade-blur {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(12px);
  transition:
    opacity 0.8s ease,
    filter 0.8s ease,
    transform 0.8s ease;
}

.fade-blur.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out;
}
@keyframes tooltip-fade {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html, body {
  overflow-x: hidden;
}

.animate-tooltip {
  animation: tooltip-fade 0.4s ease-out;
}
