@import "tailwindcss";
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
@custom-variant dark (&:where(.dark, .dark *));@layer components {
  .bg-surface {
    @apply bg-white dark:bg-neutral-950;
  }
  .bg-opp{
    @apply bg-neutral-950 dark:bg-white;
  }
 .bg-secondary{
    @apply bg-zinc-200 dark:bg-neutral-900;
 }
  .bg-card {
    @apply bg-white dark:bg-neutral-800;
  }

  .text-primary {
    @apply text-neutral-900 dark:text-white;
  }

  .text-secondary {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  .border-default {
    @apply border-neutral-950 dark:border-neutral-400;
  }
}
.fade-blur {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(12px);
  transition:
    opacity 0.8s ease,
    filter 0.8s ease,
    transform 0.8s ease;
}

.fade-blur.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
body{
  scroll-behavior: smooth;
}
